name: ci
on:
  push:
jobs:
  test-coverage:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out this repository
        uses: actions/checkout@v4.1.6

      - name: Build and test this project
        run: |
          bash build.sh
          bash runtest.sh

      - name: Generate a code coverage report
        uses: threeal/gcovr-action@v1.0.0